html, body {
	min-height: 100vh;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
	background-color: #f4f4f4;
	display: block;
}

header, footer{
	background-color: #2e7d32;
	padding: 10px;
}

header{
	margin: 0px;
}

header .container{
	display: flex;
	justify-content: space-between;
}

footer{
	margin-bottom: 0px;
	min-height: 70px;
	padding: 20px;
}

main{
	min-height: 500px;
}

form, input{
	display: block;
	margin-top: 5px;
}

form{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 35px;
    min-width: 500px;
    background-color: #fff;
}

ul li{
	list-style: none;
	display: inline-block;
}


/*class*/

.container{
	margin: 0 auto;
	width: 80%;
	padding: 10px;
}

.center{
	margin: auto;
	padding: 15px;
	width: 50%;
}

.input-field{
	width: 100%;
	border: none;
	padding: 7px;
}

.logo{
	font-size: 2rem;
}

.btn{
	padding: 10px;
	width: 5rem;
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	background-color: #2e7d32;
	color:#fff;
}

.btn:hover{
	background-color: #388e3c;
	transition: all 0.4s ease;
}

.btn:focus{
	outline: 0;
}

.input-field{
	padding-left: 10px;
	border: none;
	border-bottom: 1px solid #000;
}

.input-field[type=text]:focus,
.input-field[type=password]:focus {
	border: none;
	outline: none;
	border-bottom: 0.5px solid #2e7d32;
	box-shadow: 0 1px 0 0 #2e7d32;
	transition: all 1s ease;
}

.card{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	padding: 30px;
	display: block;
	background-color: #fff;
}

.card span{
	font-size: 18px;
}

.dashboard{
	padding: 10px;
	margin-top: 10px;
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.dash-low-section{
	margin-top: 1rem;
	padding: 10px;
	margin-bottom: 5rem;
}

.office{
	width: 50%;
	margin: auto;
	padding: 10px;
	display: flex;
	justify-content: space-between;	
}

.actText{
	margin-left: 30px;
}

.title{
	text-align: center;
}

.logo a{
	text-decoration: none;
	color: #fff;
}

.dash-low-section>div>form{
	width: 800px;
	margin-left: -180px;
}

.all-parties .card .office{
	width: 100%;
}

.all-parties{
	width: 70%;
	margin: auto;
	margin-bottom: 50px;
}

.all-parties div{
	margin: 10px;
}

.all-parties div .actText{
	padding: 10px;
	margin-left: 20px;
}

/*ID*/

#logo > span{
	color: #fff;
}

#logo, span{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#signInText, #signUpText{
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}

#signInText, span{
	font-weight: bold;
	font-size: 30px;
	color: #000;	
}

#clickToViewGuberForm{
	font-size: 0.8rem;
	color: blue;
}

#warning, #warningGuber{
	margin-top: 7px;
	cursor: pointer;	
	font-size: 0.8rem;
	color: blue;
	padding: 10px;
}

#signInLink, #signUpLink{
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}

#profile .card{
	width: 100%;
}

#upcoming-activities{
	width: 65%;
	min-height: 5rem;
}

#upcoming-activities .card{
	min-height: 5rem;

}

#logo{
	width: 40%;
	/*margin-top: -0.3rem;*/
}

#nav{
	overflow: hidden;
	margin-top: 0px;
	min-height: 100%;
}

#nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}


#nav a:hover {
  background-color: #fff;
  color: #2e7d32;
  transition: all 0.3s ease;

}

#dash-profile{
	margin-left: 20px;
	font-weight: normal;
}

#ChangePwd button{
	width: 100px;
}

span#copyright{
	font-weight: normal;
	margin-top: 30px !important;
}

#pol-office{
	display: flex;
	justify-content: space-between;
}

#view-candidates-pre div,
#view-candidates-gov div,
#view-senate div,
#view-Minister div,
#view-Lga div
{
	text-align: center;
	width: 100%;
}


#apirants{
	display: flex;
	justify-content: space-between;	
}

#vote div{
	text-align: center;
	width: 100%;
}

/*#hide{
	display: none;
}*/
