html, body {
	min-height: 100vh;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
	background-color: #fbfad3;
	display: block;
}

header, footer{
	background-color: #2e7d32;
	margin: 0px;
}

header{
	margin: 0px;
}

header .container{
	display: flex;
	justify-content: space-between;
}

footer{
	margin-bottom: 0px;
	min-height: 70px;
	padding: 20px;
}

main{
	min-height: 500px;
}

form input{
	display: block;
	margin-top: 15px;
}

form{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 35px;
    min-width: 500px;
    background-color: #fff;
}

ul li{
	list-style: none;
	display: inline-block;
}


/*class*/

.container{
	margin: auto;
	width: 80%;
	padding: 10px;
}

.center{
	margin: auto;
	padding: 15px;
	width: 100%;
}

.center button {
	margin-top: 15px;
}

.input-field{
	width: 100%;
	border: none;
	padding: 7px;
}

.logo{
	font-size: 2rem;
}

.btn{
	padding: 10px;
	width: 5rem;
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	background-color: #2e7d32;
	color:#fff;
	cursor: pointer;
}

.btn:hover{
	background-color: #388e3c;
	transition: all 0.4s ease;
}

.btn:focus{
	outline: 0;
}

.input-field{
	padding-left: 10px;
	border: none;
	border-bottom: 1px solid #000;
}

.input-field[type=text]:focus,
.input-field[type=password]:focus {
	border: none;
	outline: none;
	border-bottom: 0.5px solid #2e7d32;
	box-shadow: 0 1px 0 0 #2e7d32;
	transition: all 1s ease;
}

.card{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	display: block;
	background-color: #fff;
}

.card span{
	font-size: 18px;
}

.dashboard{
	padding: 10px;
	margin-top: 10px;
	min-height: 100px;
	display: flex;
	justify-content: space-between;
/*	flex-wrap: wrap;*/
}


.dash-low-section{
	margin-top: 1rem;
	padding: 10px;
	margin-bottom: 5rem;
}

.office{
	width: 50%;
	margin: auto;
	display: flex;
	padding: 10px;
	justify-content: space-between;	
}

.actText{
	margin-left: 30px;
}

.title{
	text-align: center;
	padding: 10px;
}

.logo a{
	text-decoration: none;
	color: #fff;
}

.dash-low-section>div>form{
	width: 800px;
	margin-left: -180px;
}

.all-parties .card .office{
	width: 100%;
	padding: 0px;
}

.all-parties{
	width: 70%;
	margin: auto;
	margin-bottom: 50px;
}

.all-parties div{
	margin: 10px;
}

.all-parties div .actText{
	padding: 10px;
	margin-left: 20px;
}

.hide{
	animation: hideIt 3s 4.9s ease-in;
}

/*ID*/

#logo > span{
	color: #fff;
}

#logo, span{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#signInText, #signUpText{
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}

#signInText, span{
	font-weight: bold;
	font-size: 30px;
	color: #000;	
}

#clickToViewGuberForm{
	font-size: 0.8rem;
	color: #729d39;
}

#warning, #warningGuber{
	margin-top: 7px;
	cursor: pointer;	
	font-size: 0.8rem;
	color: #729d39;
	padding: 10px;
}

#signInLink a, #signUpLink a{
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
	color: #729d39;
	text-decoration: none;
}

#signInLink{
	margin: 15px;
}

#profile .card{
	width: 100%;
}

#upcoming-activities{
	width: 65%;
	min-height: 5rem;
}

#upcoming-activities .card{
	min-height: 5rem;

}

#logo{
	width: 40%;
	/*margin-top: -0.3rem;*/
}

#nav{
	overflow: hidden;
	margin-top: 0px;
	min-height: 100%;
}

#nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}


#nav a:hover {
  background-color: #fff;
  color: #2e7d32;
  transition: all 0.3s ease;

}

#dash-profile{
	margin-left: 20px;
	font-weight: normal;
}

#ChangePwd button{
	width: 100%;
	margin-top: 15px;
	margin-right: 0px;
}

#ChangePwd{
	width: 50%;
	margin: auto;
	margin-top: 20px;
}

span#copyright{
	font-weight: normal;
	margin-top: 30px !important;
}

#pol-office{
	display: flex;
	justify-content: space-between;
}

#view-candidates-pre div,
#view-candidates-gov div,
#view-senate div,
#view-Minister div,
#view-Lga div
{
	text-align: center;
	width: 100%;
}


#apirants{
	display: flex;
	justify-content: space-between;	
}

#vote div{
	text-align: center;
	width: 100%;
}

#landing{
    background-color: #2e7d32;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: zeroWidth 1s 4.9s forwards;
}

#landing div h2{
    color: #fff;
    font-size: 7rem;
    position: fixed;
    margin-top: -6%;
    margin-left: 6%;
    letter-spacing: 10px;
    text-align: center;
    animation: disappear 0.4s 4.9s forwards;
}

#landing div h4{
    color: #fff;
    font-size: 3rem;
    position: fixed;
    margin-left: 9rem;
    text-align: center;
    animation: disappear 0.4s 4.9s forwards;
}


#landing div{
    margin-top: 20%;
    margin-bottom: 45%;
    margin-left: 30%;
    margin-right: 20%;
    text-align: center;
    animation: disappear 0.4s 4.9s forwards;
}

#img{
	margin-top: 55px;
}

#apirants #img{
	margin-top: 0px;
}

#apirants #img img{
	height: 150px;
}

#features{
	margin-top: 5rem;
}

#toggle-menu{
	width: 50px;
}

#toggle-menu div:nth-child(1){
	background-color: #fff;
	height: 0.5px;
	padding: 1px;
	line-height: 50px;
	padding-bottom: 10px; 
	width: 50px;
	margin-bottom: 10px;
	min-height: 1px;
	width: 70px;
	/*position: absolute;*/

}

#toggle-menu div:nth-child(2){
	background-color: #fff;
	height: 0.5px;
	padding: 1px;
	line-height: 50px;
	padding-bottom: 10px; 
	width: 50px;
	min-height: 30px;
	margin-bottom: 10px;
	width: 70px;
	min-height: 1px;
	/*position: absolute;*/

}
#toggle-menu div:nth-child(3){
	background-color: #fff;
	height: 0.5px;
	padding: 1px;
	line-height: 50px;
	padding-bottom: 10px; 
	width: 50px;
	min-height: 30px;
	margin-bottom: 10px;
	width: 70px;
	min-height: 1px;
	/*position: absolute;*/

}


#toggle-menu{
	padding: 10px;
	position: absolute;
	margin-left: 825px;
	display: hidden;
}



@keyframes zeroWidth{
    100%{width: 0px}
}

@keyframes disappear{
    100%{margin-left: -1000px}
}

@keyframes hideIt{
    100%{display: none}
}


@media only screen and (max-width: 1008px) {

  .container{
  	width: 90%;
  }

  .dashboard{
  	padding: 5px;
  	display: block;
  }

  #profile .card{
  	width: 50%;
  	float: left;
  }

  #upcoming-activities .card{
  	margin-top: 8rem;
  	width: 96%;
  }

   #upcoming-activities{
   	width: 100%;
   }

   #dash-low-section{
   	width: 100%;
   }


	#signUpForm{
		margin-top: 20%;
		/*width: 400%;*/
	}

 	#toggle-menu{
		padding: 10px;
		margin-left: 800px;
		height: 10px;
	} 

#nav-toggle a:nth-child(1){
		display: block;
		text-decoration: none;
		margin-bottom: 50px solid white;
		width: 100%;
		padding: 20px;
		background-color: #2e7d32;
		color: #fff;
		height: 20px;
		text-align: center;	

	}

	#nav-toggle a:nth-child(2){
		display: block;
		text-decoration: none;
		margin-bottom: 50px solid white;
		width: 100%;
		padding: 20px;
		background-color: #2e7d32;
		color: #fff;
		height: 20px;
		text-align: center;
	}

	#nav-toggle a:nth-child(3){
		display: block;
		text-decoration: none;
		margin-bottom: 50px solid white;
		width: 100%;
		padding: 20px;
		background-color: #2e7d32;
		color: #fff;
		height: 20px;
		text-align: center;	
	}

	#nav-toggle a:nth-child(4){
		display: block;
		text-decoration: none;
		margin-bottom: 50px solid white;
		width: 100%;
		padding: 20px;
		background-color: #2e7d32;
		color: #fff;
		height: 20px;
		text-align: center;		

	}

	#nav-toggle a:nth-child(1):hover{
		background-color: #fff;
		color: green;

	}


	#nav-toggle {
		padding: 5px;
		min-height: 200px;
		position: absolute;
		margin-left: 700px;
		margin-top: 73px;
	}	


}

